.logo_container {
    height: 100%;
}

.logo_container span {
    font-size: 24px;
    color: #21b0a6;
    text-transform: capitalize !important;
}

.img_logo {
    height: 50px;
}

.logo_hightlight {
    color: #0b4e54 !important;
}